[Desktop Entry]
Type=Application
Exec=fdt-viewer %F
Name=FDT Viewer
GenericName=Utility to read devicetree blobs and fit containers
Icon=fdt-viewer
Terminal=false
Categories=System;Utility
MimeType=text/plain;application/octet-stream

